{% extends "blog/base.html" %}

    {% block content %}
        <div class="post">

                <div class="date">
                    {{ event.created_date }}
                 
                </div>


            <h1>{{ event.title }}</h1>
            <p>{{ event.description|linebreaks }}</p>
            <p>{{ event.where|linebreaks }}</p>
            <p>{{ event.when|linebreaks }}</p>
        </div>
        <hr>

		{% for task in event.tasks.all %}

                         <div class="comment">
                             <div class="date">
                                  {{ task.created_date }}

                             </div>
                             <strong>{{ task.author }}</strong>
                             <p>{{ task.description|linebreaks }}</p>
                             {% if task.status = 'S' %}
                                <p style="color: red">{{ task.get_status_display }}</p>
                             {% else %}
                                <p style="color: blue">{{ task.get_status_display }}</p>
                             {% endif %}
                             <p>Presupuesto :{{ task.budget }}</p>
                        </div>

		{% empty %}
		    <p>No tasks here yet :(</p>
		{% endfor %}

        <h3>ORGANIZAN</h3>
        {% for organizer in organizers %}


                         <div class="comment">

                                  {{ organizer.name }}



                        </div>
		{% empty %}
		    <p>No organizers here yet :(</p>
		{% endfor %}

        <h3>ASISTEN</h3>
        {% for assistant in assistants %}


                         <div class="comment">

                                  {{ assistant.name }}



                        </div>
		{% empty %}
		    <p>No assistants here yet :(</p>
		{% endfor %}

    {% endblock %}
