{% extends "blog/base.html" %}
    {% block content %}
        {% for event in events %}
            <div class="post">
                <div class="date">
                    {{ event.created_date }}

                </div>
                <h1>{{ event.title }}</h1>
                <p>{{ event.description|linebreaks }}</p>
                <a href="{% url 'blog.views.event_detail' pk=event.pk %}">Tareas sin asignar: {{ event.pending_tasks.count }}</a>

            </div>
        {% endfor %}
    {% endblock content %}